/*----------------------

	1 WEBFONTS
	2 HTML5
	3 RESET
	4 CLEARFIX
	5 JQUERYSCROLL
	6 RESPONSIVE

------------------------*/

/*----------------------*/
/*		1 WEBFONTS		*/
/*----------------------*/

/* LOCATOR */
@font-face {
	font-family:"locator_ultralight";
	src: url('../../../resources/SkinChecker3/webfonts/Locator/locator_ultralight.eot');
	src: url('../../../resources/SkinChecker3/webfonts/Locator/locator_ultralight.eot?#iefix') format('embedded-opentype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/locator_ultralight.woff') format('woff'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/locator_ultralight.ttf') format('truetype'),		 
		 url('../../../resources/SkinChecker3/webfonts/Locator/locator_ultralight.svg#LocatorUltraLight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face{
	font-family:"LocatorWeb-Light";
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebLight.eot');
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebLight.eot?#iefix') format('embedded-opentype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebLight.ttf') format('truetype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebLight.woff') format('woff'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebLight.svg#locator_weblight') format('svg');
	font-weight:normal;
	font-style:normal;
	}
@font-face{
	font-family:"LocatorWeb-Regular";
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebRegular.eot');
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebRegular.eot?#iefix') format('embedded-opentype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebRegular.ttf') format('truetype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebRegular.woff') format('woff'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebRegular.svg#locator_webregular') format('svg');
	font-weight:normal;
	font-style:normal;
	}
@font-face{
	font-family:"LocatorWeb-Medium";
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebMedium.eot');
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebMedium.eot?#iefix') format('embedded-opentype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebMedium.ttf') format('truetype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebMedium.woff') format('woff'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebMedium.svg#locator_webmedium') format('svg');
	font-weight:normal;
	font-style:normal;
	}
@font-face{
	font-family:"LocatorWeb-Bold";
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebBold.eot');
	src: url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebBold.eot?#iefix') format('embedded-opentype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebBold.ttf') format('truetype'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebBold.woff') format('woff'),
		 url('../../../resources/SkinChecker3/webfonts/Locator/LocatorWebBold.svg#locator_webbold') format('svg');
	font-weight:normal;
	font-style:normal;
	}

/* DIN NEXT */
@font-face{
font-family:"dinpro-light";
src:url("../../../resources/SkinChecker3/webfonts/DINNext/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/DINNext/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/DINNext/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/DINNext/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/DINNext/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
}
@font-face{
font-family:"dinpro-regular";
src:url("../../../resources/SkinChecker3/webfonts/DINNext/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/DINNext/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/DINNext/20007504-6ea2-4d68-93e4-f4769b5d9f14.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/DINNext/1c35aab7-8ddd-402f-8976-1363134c3817.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/DINNext/91c8307f-e301-4d44-b0f3-5cff17b3a554.svg#91c8307f-e301-4d44-b0f3-5cff17b3a554") format("svg");
}
@font-face{
font-family:"dinpro-medium";
src:url("../../../resources/SkinChecker3/webfonts/DINNext/2cf657c7-a3a0-4365-8704-c88d1e7e7e59.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/DINNext/2cf657c7-a3a0-4365-8704-c88d1e7e7e59.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/DINNext/97b0cc11-9afb-4a2f-93b7-e1b5c40d80a6.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/DINNext/2cfb9022-3dc0-4b24-8e91-2df7bd55dd37.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/DINNext/7c8e4086-96df-4b91-905e-3b25c81d55a9.svg#7c8e4086-96df-4b91-905e-3b25c81d55a9") format("svg");
}
@font-face{
font-family:"dinpro-bold";
src:url("../../../resources/SkinChecker3/webfonts/DINNext/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/DINNext/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/DINNext/109143ca-57fb-459c-9814-3a68f0245ac3.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/DINNext/c9fa50e2-c243-451a-b91b-ee74f341d7a8.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/DINNext/1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5.svg#1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5") format("svg");
}

/* GILL SANS */
@font-face{
font-family:"gillsans-bold";
src:url("../../../resources/SkinChecker3/webfonts/GillSans/f5eeb9ee-aa7f-48ee-8450-4034d3587f6d.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/GillSans/f5eeb9ee-aa7f-48ee-8450-4034d3587f6d.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/GillSans/41a107ac-0cb7-4bdf-92fa-3953ffd3624e.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/GillSans/da53b951-50dc-4a3c-a55a-932bdde8347e.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/GillSans/7bf70546-8c62-412f-9a7f-ea4d750a97b9.svg#7bf70546-8c62-412f-9a7f-ea4d750a97b9") format("svg");
}
@font-face{
font-family:"GillSans";
src:url("../../../resources/SkinChecker3/webfonts/GillSans/6efe345d-4b88-45ff-90f5-1fb70d4b4deb.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/GillSans/6efe345d-4b88-45ff-90f5-1fb70d4b4deb.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/GillSans/b339f8b1-83c4-4d59-a906-287c56041789.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/GillSans/b93e2648-316c-4deb-9501-a381538a74cc.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/GillSans/cc079d01-f4ac-41d3-aa80-acc6f30d3153.svg#cc079d01-f4ac-41d3-aa80-acc6f30d3153") format("svg");
}
@font-face{
font-family:"gillsans-light";
src:url("../../../resources/SkinChecker3/webfonts/GillSans/3d3ae305-c5f8-44e9-a93f-68343ef13a1e.eot?#iefix");
src:url("../../../resources/SkinChecker3/webfonts/GillSans/3d3ae305-c5f8-44e9-a93f-68343ef13a1e.eot?#iefix") format("eot"),url("../../../resources/SkinChecker3/webfonts/GillSans/2b43682c-fbbf-4d2c-aa8f-53c5e9c07b89.woff") format("woff"),url("../../../resources/SkinChecker3/webfonts/GillSans/c7502fea-5840-46ed-9666-3479a56bf828.ttf") format("truetype"),url("../../../resources/SkinChecker3/webfonts/GillSans/59939f92-3d8b-46f6-8852-3a0db259dea0.svg#59939f92-3d8b-46f6-8852-3a0db259dea0") format("svg");
}


/*------------------*/
/*		2 HTML5		*/
/*------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section { display : block; }



/*------------------*/
/*		3 RESET		*/
/*------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section  {
	box-sizing : border-box;
	margin : 0;
	padding : 0;
	border : 0;
	outline : 0;
	font-weight : normal;
	font-style : inherit;
	font-family : inherit;
	vertical-align : top;
}

/* remember to define focus styles! */
:focus { outline : 0; }

body {
	font-family: 'LocatorWeb-Regular'; font-size: 16px; color : #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-size : 10px;
}

ol, ul { list-style : none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse : separate;
	border-spacing : 0;
}

table tr { vertical-align : top; }

caption, th, td {
	text-align : left;
	font-weight : normal;
}

a {
	text-decoration : none;
	cursor : pointer;
	outline : none;
	transition : all 300ms ease-in-out;
	-webkit-transition : all 300ms ease-in-out;
	   -moz-transition : all 300ms ease-in-out;
		 -o-transition : all 300ms ease-in-out;
}

input {
	border-radius : 0;
	-webkit-appearance: none;
}

img {
	max-width : 100%;
	height : auto;
	width : auto;
}

sup{
	display:inline-block;
	margin-top:-0.5em;
	font-size:70%;
	}
sub{
	display:inline-block;
	margin-top:0.5em;
	font-size:70%;
	}

.offscreen {
	position : absolute;
	top : 0;
	left : -9999em;
}
/**************************/
/***** 7 - FORMULAIRES *****/
/**************************/
/*		CUSTOM CHECKBOX		*/
.custom-checkbox{
	position :relative;
	z-index :0;
}
.obj_checkbox label{
	position :relative;
	display :block;
	padding:0 0 0 30px;
	cursor :pointer;
	z-index :5;
	}
.obj_checkbox label:before{
	content:"";
	position:absolute;
	top:0; left:0;
	margin-top:-3px;
	width:20px; height:20px;
	background:#fff;
	border:1px solid #dedede;
	-webkit-transition :all 0.05s;
	   -moz-transition :all 0.05s;
		 -o-transition :all 0.05s;
			transition :all 0.05s;
	}
.ctn_quiz .obj_checkbox label:before{
	margin-top:0;
	}
.obj_checkbox label.hover:before{
	border:1px solid #c8c8c8;
	}
.obj_checkbox.error label:before{
	border-color:#bd0000;
	}
.obj_checkbox label:after{
	content:"";
	position:absolute;
	top:3px; left:3px;
	margin-top:-3px;
	width:16px; height:16px;
	background:#fff;
	}
.ctn_quiz .obj_checkbox label:after{
	background:none;
	}
.obj_checkbox label.hover:after{
	background:#d9d9d9;
	}
.ctn_quiz .obj_checkbox label.hover:after{
	background: none;
	}
.obj_checkbox label.checked:after{
	background:#008fcd;
	}
.ctn_quiz .obj_checkbox label.checked:after{
	background: none;
	}
.obj_checkbox.error label.hover:after{
	background:#bd0000;
	opacity:0.2;
	}
.obj_checkbox.error label.checked:after{
	background:#bd0000;
	opacity:1;
	}
	
.obj_checkbox input{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	}
/*----------------------*/
/*		4 CLEARFIX		*/
/*----------------------*/
.clearfix:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}

.clearfix { display : inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height : 1%; }
.clearfix { display : block; }

/* End hide from IE-mac */
.clear { clear: both; }


/*--------------------------*/
/*		5 JQUERYSCROLL		*/
/*--------------------------*/
.jQueryScroll {}
.jspContainer{overflow: hidden;position: relative; height:200px;}
.jspPane { position: absolute; }
.jspVerticalBar {background:#f4f4f4;width: 7px; right: 2px; position: absolute; top: 0; height: 100%;}
.jspHorizontalBar {background: transparent; width: 7px; bottom: 2px; position: absolute; left: 0; width: 100%;}
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack { background: transparent; position: relative; }
.jspDrag { background: #008fcd; position: relative; top: 0; left: 0; cursor: pointer;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }


/*--------------------------*/
/*		6 RESPONSIVE		*/
/*--------------------------*/

/** Mobile **/
@media screen and (max-width: 640px) {

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}
/*--------------------------*/
/*		7 FORMULAIRES		*/
/*--------------------------*/
/* ========================================
 *	$ =	STRUCTURES
 * ======================================== */
.obj_form{
	font-size:1em;
	padding:10px 0;
	margin:0 auto;
	}
.obj_form fieldset > div{
	margin:0 0 20px;
	}
.obj_form h1{
	padding:0 0 0 160px;
	}
/* ========================================
 *	$ =	ELEMENTS NATIFS
 * ======================================== */
/* ----------------------------------------
 * FIELDSET & LEGEND 
 * ------------------------------------- */
fieldset legend{
	margin:0 0 20px;
	}
/* ----------------------------------------
 * CONTENEURS
 * ------------------------------------- */	
.obj_form .text,
.obj_form .textarea,
.obj_form .select,
.obj_form .radio,
.obj_form .checkbox,
.obj_form .birthdate{
	padding:5px 0;
	margin:0;
	}
/* ----------------------------------------
 * LABEL
 * ------------------------------------- */	
.text label, .text h4,
.textarea label, .textarea h4,
.select label, .select h4,
.radio > span, .radio h4,
.checkbox > span, .checkbox h4,
.birthdate > span:first-child{
	display:block;
	margin:0 0 10px;
	font:1em/1em 'LocatorWeb-Regular';
	}
.textarea label{
	vertical-align:top;
	}
/* ----------------------------------------
 * INPUT TYPE TEXT & TEXTAREA
 * ------------------------------------- */	
input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=password],
textarea{
	box-sizing:border-box;
	width:100%;
	padding:10px;
	border:1px solid #C6CCCF;
	font:1em/1.2em 'LocatorWeb-Regular';
	}
input[type=text].error,
input[type=email].error,
input[type=url].error,
input[type=tel].error,
input[type=password].error,
textarea.error{
	border-color:#bd0000;
	}
textarea{
	resize:vertical;
	height:150px;
	min-height:150px;
	}
/* birthdate */
.text.birthdate div{
	width:33.333%;
	float:left;
	padding:0 10px 0 0;
	}
.text.birthdate div:last-child{
	padding:0;
	}
.text.birthdate input[type=text]{
	width:100%;
	}
.text.birthdate span + input[type=text]{
	margin:0;
	}
/* ----------------------------------------
 * BUTTON
 * ------------------------------------- */	
button[type=reset],
button[type=submit]{
	margin:0 0 0 10px;
	padding:5px 15px;
	border: 1px solid #C6CCCF;
	background:#EFEFEF;
	}
button[type=reset]:hover,
button[type=submit]:hover{
	cursor:pointer;
	background:#dcdcdc;
	}
/* ========================================
 *	$ =	ARIA
 * ======================================== */
/* ----------------------------------------
 * COMMON
 * ------------------------------------- */	
input[aria-hidden=true],
select[aria-hidden=true]{
	display:none;
	}
/* ----------------------------------------
 * RADIO & CHECKBOX
 * ------------------------------------- */	
.checkbox.var_optin > .ctn_checkbox{
	position:relative;
	}
.checkbox.var_optin span[role=checkbox]{
	position:absolute;
	top:0; left:0;
	}
.checkbox.var_optin label{
	position:relative;
	display:block;
	padding-left:30px;
	}
.radio label,
.checkbox label{
	margin:0 10px 0 0;
	color:#000;
	cursor:pointer;
	}
span[role=radio],
span[role=checkbox]{
	display:inline-block;
	position:relative;
	top:-3px;
	text-align:left;
	text-indent:-10000px;
	line-height:1em;
	margin:0 5px 0 0;
	width:22px;
	height:22px;
	background-repeat:no-repeat;
	background-position:left top;
	vertical-align:top;
	cursor:pointer;
	}
.ie7 span[role=radio],
.ie7 span[role=checkbox]{
	text-indent:0;
	font-size:0;
	text-align:0;
	}
span[role=radio],
.ctn_quiz span[role=checkbox]{
	background:url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat -645px 0 / 1024px 1024px;
	}
.rating span[role=radio],
.rating span[role=radio][aria-checked=false]{
	top:-2px;
	margin:0;
	float:left;
	width:25px; height:22px;
	background:url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat -903px 0 / 1024px 1024px;
	}
.rating span[role=radio]:hover,
.rating span[role=radio][aria-checked=true]:hover,
.rating span[role=radio][aria-checked=true].over:hover,
.rating span[role=radio].over,
.rating span[role=radio][aria-checked=true],
.rating span[role=radio][aria-checked=true]:focus,
.rating span[role=radio][aria-checked=true].over,
.rating span[role=radio][aria-checked=true].over:focus{
	background-position:-878px -22px;
	}
span[role=checkbox]{
	background:url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat -601px 0 / 1024px 1024px;
	}
	
/* position hover */
span[role=radio]:hover,
span[role=radio]:focus,
span[role=radio].over{
	background-position:-645px -22px;
	}	
/* position hover */
span[role=checkbox]:hover,
span[role=checkbox]:focus,
span[role=checkbox].over{
	background-position:-601px -22px;
	}
/* position hover checked */
span[role=radio][aria-checked=true]{
	background-position:-645px -44px;
	}
span[role=checkbox][aria-checked=true]{
	background-position:-601px -44px;
	}
/* position hover checked focus */
span[role=radio][aria-checked=true]:hover,
span[role=radio][aria-checked=true]:focus,
span[role=radio][aria-checked=true].over{
	background-position:-645px -66px;
	}
span[role=checkbox][aria-checked=true]:hover,
span[role=checkbox][aria-checked=true]:focus,
span[role=checkbox][aria-checked=true].over{
	background-position:-601px -66px;
	}
/* error */
.error,
.ctn_error{
	color:#bd0000;
	}
.ctn_error p{
	margin:20px 0;
	text-align:center;
	}
span[role=radio].error{
	background-position:-667px 0;
	}
span[role=checkbox].error{
	background-position:-623px 0;
	}
/* position hover */
span[role=radio].error:hover,
span[role=radio].error:focus,
span[role=radio].error.over{
	background-position:-667px -22px;
	}
span[role=checkbox].error:hover,
span[role=checkbox].error:focus,
span[role=checkbox].error.over{
	background-position:-623px -22px;
	}
/* position hover checked */
span[role=radio][aria-checked=true].error{
	background-position:-667px -44px;
	}
span[role=checkbox][aria-checked=true].error{
	background-position:-623px -44px;
	}
/* position hover checked focus */
span[role=radio][aria-checked=true].error:hover,
span[role=radio][aria-checked=true].error:focus,
span[role=radio][aria-checked=true].error.over{
	background-position:-667px -66px;
	}
span[role=checkbox][aria-checked=true].error:hover,
span[role=checkbox][aria-checked=true].error:focus,
span[role=checkbox][aria-checked=true].error.over{
	background-position:-623px -66px;
	}
/* ----------------------------------------
 * SELECT
 * ------------------------------------- */	
span[role=combobox]{
	display:inline-block;
	width:100%;
	padding:6px 29px 6px 9px;
	border:1px solid #C6CCCF;
	background:#fff;
	cursor:pointer;
	}
span[role=combobox]:after{
	display:inline-block;
	content:"";
	position:absolute;
	top:50%; right:10px;
	margin:-2px 0 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	}
span[role=combobox].error{
	border-color:#d95f6d;
	}
span[role=combobox]:focus{
	background:#efefef;
	}
/* liste */
span[role=combobox] + div{
	position:absolute;
	top:28px;
	left:-10000px;
	width:100%;
	}
span[role=combobox][aria-expanded=true] + div{
	left:0;
	}
span[role=combobox] + div .border{
	border:1px solid #C6CCCF;
	background:#fff;
	}
span[role=combobox] + div .jQueryScroll{
	height:150px;
	max-height:150px;
	width:100%;
	}
/* optgroup */
ul[role=listbox] > li > span{
	font-weight:bold;
	font-style:italic;
	}
ul[role=listbox] ul{
	margin:0 0 10px;
	}
/* option */
li[role=option]{
	padding:2px 10px;
	cursor:pointer;
	}
li[role=option]:hover{
	cursor:pointer;
	background:#efefef;
	}
li[role=option][aria-selected=true]{
	background:#efefef;
	}
/* ----------------------------------------
 * SELECT BIRTHDATE
 * ------------------------------------- */	
.select.birthdate .ctn_select{
	}
.select select + span{
	width:100%;
	}
.select.birthdate select + span{
	display:inline-block;
	float:left;
	margin:0 3% 0 0;
	width:30%;
	cursor:pointer;
	}
.select.birthdate select + span:last-child{
	margin:0;
	width:34%;
	}
.select.birthdate span[role=combobox]{
	width:100%;
	}
.select > span{
	width:100%;
	}
	
.obj_compteur{font-size:0.875em;}
/* ============================= *
 * ERROR
 * ============================= */ 
.msg_error{
	margin:10px 0;
	color:#bd0000;
	text-align:center;
	}
.ctn_mandatory{
	margin:10px 0;
	font-size:0.875em;
	color:#C6CCCF;
	}