/*

1 - HEADER
2 - NAV
3 - CARROUSEL
4 - PUSHS
5 - POP-IN
6 - BREADCRUMB
7 - FORMULAIRES
8 - IFRAME

*/

/**********************/
/***** 1 - HEADER *****/
/**********************/
header.main{
	max-width:1180px;
	margin:0 auto;
	position:relative;
	z-index:10;
	}
header.main .logo{
	display:block;
	margin:0 auto;
	padding:0 0 25px;
	}
header.main .logo a{
	display:block;
	margin:0 auto;
	width:196px; height:81px;
	background:url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat 0 0 / 1014px 1014px;
	text-indent:-10000px;
	}
.ctn_languages {
	position: absolute;
	top: 67px;
	right: 50px;
}
.ctn_languages ul li {
	position: relative;
	display: inline-block;
	padding-left: 25px;
}
.ctn_languages ul li:after {
	content:"";
	position:absolute;
	top: 0px; right: -14px;
	width: 1px; height: 17px;
	background: #e5e5e5;	
}
.ctn_languages ul li:last-child:after {
	width: 0;
}
.ctn_languages ul li a {
	font-size: 0.875em;
	color: #aeaeae;
}
.ctn_languages ul li a:hover {
	color: #489dc2;
}

	
@media screen and (max-width:640px){

	.ctn_languages {
		position: relative;
		text-align: center;
		top: auto; right: auto;
		margin: -10px 0 5px;
	}
	.ctn_languages ul li:first-child {
		padding-left: 0;
	}
	header.main .logo{
		padding:0;
		-webkit-transform: scale(0.75);
		-ms-transform: scale(0.75);
		transform: scale(0.75);
		-webkit-transform-origin: top center;
		-ms-transform-origin: top center;
		transform-origin: top center;
		}
	 
}


/*************************/
/***** 3 - CARROUSEL *****/
/*************************/
.obj_carrousel{
	position:relative;
	z-index:1;
	}
.obj_carrousel .masque{
	position:relative;
	z-index:1;
	overflow:hidden;
	}
.obj_carrousel .items{
	position:absolute;
	z-index:1;
	width:100000px;
	height:430px;
	}
.obj_carrousel .item{
	float:left;
	height:100%;
	}
	
.obj_carrousel .nav .prev,
.obj_carrousel .nav .next{
	position:absolute;
	top:50%; left:0;
	z-index:2;
	width:45px; height:47px;
	margin-top:-23px;
	text-indent:-10000px;
	background:url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat -83px -83px / 1024px 1024px;
	background-color:#008fcd;
	cursor:pointer;
	-webkit-transition:all 0.2s;
	   -moz-transition:all 0.2s;
		 -o-transition:all 0.2s;
			transition:all 0.2s;
	}
.obj_carrousel .nav .next{
	background-position:-128px -83px;
	left:auto; right:0;
	}
.obj_carrousel .nav .prev:hover{
	background-position:-86px -83px;
	}
.obj_carrousel .nav .next:hover{
	background-position:-125px -83px;
	}
.obj_carrousel .nav .prev:hover,
.obj_carrousel .nav .next:hover{
	background-color:#0081b9;
	}

@media screen and (max-width:640px){	
		
	.obj_carrousel .nav .prev,
	.obj_carrousel .nav .prev:hover{
		background-position:-305px 7px;
		background-color:transparent;
		}
	.obj_carrousel .nav .next,
	.obj_carrousel .nav .next:hover{
		background-position:-340px 7px;
		background-color:transparent;
		}
	
	
}

/*********************/
/***** 4 - PUSHS *****/
/*********************/

/* Homepage */
section.obj_bloc-pushs.simple,
section.obj_bloc-pushs.double,
section.bottom_pushs{
	max-width:1180px;
	width:100%;
	overflow:hidden;
	margin:0 auto;
	}
section.obj_bloc-pushs.simple .ctn_text, 
section.obj_bloc-pushs.double .ctn_pushs .ctn_text{
	position:absolute;
	}
section.obj_bloc-pushs.simple .ctn_pushs, 
section.obj_bloc-pushs.double .ctn_pushs{
	position:relative;
	}
section.obj_bloc-pushs.simple .ctn_pushs .ctn_share_menu ul, 
section.obj_bloc-pushs.double .ctn_pushs .ctn_share_menu ul{
	top:205px;
	}
@media screen and (max-width:640px){

	section.obj_bloc-pushs.simple .obj_share_menu{
		display:none;
		}
}


/**********************/
/***** 5 - POP-IN *****/
/**********************/
.str_popin.default{
	display:none;
	position:relative;
	}
.str_popin.default .btn_close{
	position:absolute;
	z-index:2;
	right:0px; top:0px;
	width:47px; height:46px;
	background:#008fcd url("../../../resources/SkinChecker3/images/sprite_icon.png") no-repeat 0 -310px;
	background-size:1024px auto;
	cursor:pointer;
	border:10px solid #008fcd;
	}
.str_popin.default .ctn_decor-popin{
	min-width:660px;
	}
.str_popin.default .ctn_popin{
	padding:40px;
	background:#fff;
	}
.str_popin.default.var_video .ctn_popin{
	padding:0;
	}
.str_popin.default .ctn_popin .ctn_iframe{
	position:relative;
	padding-bottom:51.75%;
	padding-top:25px;
	height:0;
	}
.str_popin.default .ctn_popin .ctn_iframe iframe{
	position:absolute;
	z-index:0;
	margin:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}
.ctn_popin-zone{
	display:none;
	}
.str_popin.default .ctn_popin h2,
.str_popin.default .ctn_popin .title{
	font-family:'LocatorWeb-Light'; font-size:2em; line-height:1em; color:#000;
	padding-right:40px;
	}
	.str_popin.default .ctn_popin h2 strong,
	.str_popin.default .ctn_popin .title strong{
		font-family:'LocatorWeb-Bold';
		}
.str_popin.default .ctn_popin h3,
.str_popin.default .ctn_popin .subtitle{
	font-family:'LocatorWeb-Regular'; font-size:18px; line-height:22px; color:#0099e7;
	margin-top:10px;
	}
.str_popin.default .ctn_popin h4,
.str_popin.default .ctn_popin .category{
	font-family:'LocatorWeb-Light'; font-size:16px; line-height:18px; color:#000;
	margin-bottom:5px;
	}
.str_popin.default .ctn_popin p.t_mentions{margin-top:5px; font-size:0.625em;}
.str_popin.default .ctn_popin .ctn_content{
	margin-top:20px;
	line-height:0;
	}
.str_popin.default .ctn_popin .ctn_content p{
	font-family:'LocatorWeb-Regular'; font-size:14px; line-height:18px; color:#000;
	}
.str_popin.default .ctn_popin .ctn_content p strong{
	font-family:'LocatorWeb-Bold';
	}
@media screen and (max-width:640px){
	
	.str_popin.default .ctn_popin{
		padding:40px 10px 10px 10px;
		}
	.str_popin.default.var_video .ctn_popin{
		padding:0;
		}
	.str_popin.default .btn_close{
		-webkit-transform:scale(0.75);
			-ms-transform:scale(0.75);
				transform:scale(0.75);
		-webkit-transform-origin:right top;
			-ms-transform-origin:right top;
				transform-origin:right top;
		}
	.str_popin.default .ctn_decor-popin{
		max-width:300px;
		min-width:260px;
		}
	.str_popin.default .ctn_popin iframe{
		width:100%;
		height:auto;
		}
}


/** Formulaire de contact **/
.str_popin.default .ctn_popin .ctn_contact{
	margin:0;
	text-align:center;
	}
	.str_popin.default .ctn_popin .ctn_contact.msg_error{
		margin-top:10px;
		text-align:left;
		}
	.str_popin.default .ctn_popin .ctn_contact.objet{
		text-align:left;
		}
	.str_popin.default .ctn_popin .ctn_contact.objet .pave_contact .ctn_line.duo_col{
	float:none;
	}
.str_popin.default .ctn_popin .ctn_contact .pave_contact .ctn_line textarea.message{
	width:470px;
	}
.str_popin.default .ctn_popin .ctn_contact .mentions{
	font-size:12px; color:#afafaf;
	}
/* popin alert */
.str_popin.default .ctn_popin.popinAlert{
	padding:0 57px 0 0;
	}
.str_popin.default .ctn_popin.popinAlert p.msg{
	font-size:1em;
	margin:0 0 20px 0;
	}
.str_popin.default .ctn_popin.popinAlert p.error{
	color:#cc0000;
	}
.str_popin.default .ctn_popin.popinAlert p a{
	display:inline-block;
	border:none;
	padding:14px 20px;
	font:1em/1em "LocatorWeb-Regular", sans-serif;
	color:#fff;
	-webkit-appearance:none;
	   -moz-appearance:none;
			appearance:none;
	background:#008fcd;
	-webkit-transition:all 0.2s;
	   -moz-transition:all 0.2s;
		 -o-transition:all 0.2s;
			transition:all 0.2s;
	text-align:center;
	cursor:pointer;
	}
	}
/* popin message */
.ctn_popin-confirm{
	width:665px;
	}
.ctn_popin-confirm h4,
.ctn_popin-confirm .t_confirm{
	color:#000000; font-family:gillsans-light; font-size:36px; line-height:32px; text-transform:uppercase;
	padding-right:40px; margin-bottom:20px;
	}
.ctn_popin-confirm p{
	font-family:dinpro-regular, trebuchet ms; font-size:14px; line-height:18px; color:#000;
	}
.ctn_popin-confirm .ctn_submit{
	clear:both;
	margin-top:20px;
	}
.ctn_popin-confirm .ctn_submit li{
	float:left;
	margin:0 5px 0 0;
	}
.ctn_popin-confirm .ctn_submit li a{
	background:#0099e7;
	color:#fff; line-height:12px; text-transform:uppercase;
	padding:5px 30px 3px;
	}
.ctn_popin-confirm .ctn_submit li a.retour{
	background:#e5e5e5;
	color:#7b7b7b;
	}