/********************/
/***** STICKERS *****/
/********************/

/** Stickers NEW Banner **/
body.pt .v_sticker-small {
	background: url("v_sticker_new-small.png") no-repeat;
	}
.pg_home.pt .foc.foc_lipikar .foc_content .v_sticker {
	position: absolute;
	top: 12px; right: 32px;
	width: 88px; height: 87px;
	background: url('v_sticker_new-large.png') no-repeat;
	text-indent: -10000px;
	}

/** Sticker NEW Fiche produit **/
body.pt .obj_galerie .v_new {
	background: url('v_sticker_new-large.png') no-repeat;
	}

/** Sticker NEW Gamme **/
body.pt .ctn_gamme-item .v_new {
	background: url('v_sticker_new-small.png') no-repeat;
	}

/** Sticker NEW Carrousel **/
body.pt .car_conteneur .v_new {
	background: url('v_sticker_new-small.png') no-repeat ;
	}

/****************************************/
/***** LIEN "MY BABY LA ROCHE-POSAY *****/
/****************************************/
body.pt .nav_divers ul li.b_babylink {
	width: 162px;
	position: relative;
	}
body.pt .nav_divers ul li.b_babylink a {
	position: absolute;
	top: -12px; left: 0;
	background: url("b_babylink.gif") no-repeat;
	padding: 16px 0 10px 46px;
	}

/********************************/
/***** Masquage FB pour PSO *****/
/********************************/
.pg_home-pso .obj_plugin-facebook, .pg_article-pso .obj_plugin-facebook {
	display: none;
	}

/** SHARE INFO-PSO **/
.pg_article-pso .str_article .ctn_share {
	display: none;
	}

/**********************/
/***** SPE BANNER *****/
/**********************/

/***** REDERMIC R YEUX 2013 *****/
.redermicR-Yeux_2013 .pav_attribut {left: 145px;}

/****************************/
/***** LIPIKAR FAMILIES *****/
/****************************/
.lipikar_families.pt .str_header > .ctn_header h1 a{
	background-image:url('v_logo-LipikarFamilies_PT.jpg');
	}




